body {
	margin: 0;
	padding: 3em;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1;
	background: #fff;
	color: #444;
	max-width: 40em;
	border-left: 6px solid #DDD;
}

a {
	color: #D00;
	text-decoration: none;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
}

h2 {
	font-size: 1.75em;
	font-weight: normal;
	color: black;
	margin: 0;
	padding: 0;
}
h2 a {
	color: #000000;
}

h3 {
	font-size: 1.5em;
	font-weight: normal;
	color: #CCC;
	margin: 0;
	padding: 0;
}

h4 {
	text-align: right;
}

img {
	display: block;
	margin: 5px 0;
	max-width: 820px;
}


header h2 {
	font-size: 1.5em;
	margin-bottom: .5em;
}

header nav a {
	display: inline-block;
	font-size: .75em;
	margin-right: 1em;
	color: #fff;
	border-bottom: 2px solid #EEE;
	color: black;
	border-bottom-color: #BBB;
}

article {
	border-bottom: 1px solid #DDD;
	margin: 3em 0;
	padding-bottom: 1.5em;
}

article p:first-letter {
	float: left;
	font-size: 6em;
	line-height: 1;
	color: #DDD;
	margin: -.1em .1em -.1em;
}

footer {
	color: #BBB;
}